@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul {
  @apply list-disc pl-6
}

ol {
  @apply list-decimal pl-6
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-3xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
}

h4 {
  @apply text-xl;
  @apply font-semibold;
}

h5 {
  @apply text-lg;
  @apply font-semibold;
}

h6 {
  @apply text-sm;
  @apply font-semibold;
}